@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
.button{
	position: relative;
	height: 40px;
	width: 280px;
	min-width: 100px;

	border: none;
	outline: none;

	background: #1282BF;
	border-radius: 3px;
	box-shadow: 0 5px 0px #333533;

	cursor: pointer;
	display: inline-block;
}
.button:hover{
	background: #47AA42;
	box-shadow: 0 4px 1px #368032;
	border-bottom: 2px solid #368032;
	transition: all 0.1s ease-in-out;
}
.button:active{
	transform:translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
.button h2{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0;
	position: relative;
	text-align: center;
}

/*==============Top Bar==============*/
.topbar{
    position: fixed;
    width: 100%;
    height: 55px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 10;
    background: #47AA42;
}
.topbar a{
    display: inline-block;
    padding-top: 14px;
}
.topbar img{
    width: 35px;
}
.topbar h3{
    font-size: 16px;
    color: white;
    text-align: right;
    vertical-align: center;
    display: inline-block;
}


#logo{
    position: absolute;
    top: 0px;
    left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
}
#logo a:hover {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
#logo a:active {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
#login{
    position: absolute;
    top: 0px;
    right: 85px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
}
#login:hover {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
#login:active {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

#signup0{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-bottom: 14px; */
    padding-top: inherit;
}
#signup0:hover {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
#signup0:active {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

#signup{
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
}
#signup:hover {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
#signup:active {
    background: #1282BF;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.bgContainer{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
    width: 80%;
    max-width: 1440px;
    min-width: 800px;
    margin-top: 70px;
}

/*==============User Signup Form==============*/
.userForm h4{
    margin-top: 12px;
    font-size: 15px;
    display: block;
    font-weight: 700;
}
.userForm h5{
    display: inline-block;
    margin-top: 10px;   
    margin-right: 5px;
    font-weight: 400;
}

/*==============Login/Index Form==============*/
.bgContainer0{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 

    width: 300px;
    height: 300px;
    text-align: center;
}

.bgContainer0 input[type="text"], 
.bgContainer0 input[type="password"]{
    position: relative;
    width: 300px;
    border: 2px solid #47AA42;
    border-radius: 4px;
    background-color: white;
    padding: 12px 15px 12px 15px;
    display: block;
    margin-top: 8px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.bgContainer0 .button{
    margin-top: -15px;
    width: 300px;
}

.bgContainer0 h1{
    font-size: 75px;
    margin: 0;
    padding: 0;
}
.bgContainer0 h4{
    font-size: 17px;
    font-weight: 400;
    margin-top: -10px;
    padding: 0;
}

/*==============Shleter Registration==============*/
.shelterForm input{
    width: 30%;
    display: inline-block;
}
html, body{
    background: white;
    font-family: 'Open Sans', sans-serif;
    color: #47AA42;
}
a {
    color:inherit;
    background-color: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -o-transition: background-color .15s ease-in-out;
    -ms-transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

fieldset{
    border: none;
}

textarea, 
select,
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
input[type="checkbox"],
input{
	position: relative;
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 15px 12px 15px;
    display: block;
    margin-top: 8px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type="checkbox"]{
    padding: 20px;
}

input[type=radio]{
    display: inline-block;
    margin-right: 10px;
}
input[value]{
    color: white;
    font-size: 16px;
    margin: 0;
    position: relative;
    text-align: center;
}
input:focus {
}

/*==============Side Bar==============*/
.sidebar{
    position: fixed;
    width: 230px;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background: #47AA42;
}
.sidebar h3{
    color: white;
    font-size: 23px;
    font-weight: 400;
}
.sidebar h3:hover{
    font-weight: 700;
}
.sidebar h3:active{
    font-weight: 700;
}

.sidebar a{
    width: 100%;
    text-align: center;
}
.sidebar hr{
    width: 80%;
    border: 2px solid white;
} 
.sidebar img{
    position: absolute;
    bottom: 80px;
    left: 40px;
    width: 150px;
}
.sidebar h4{
    position: absolute;
    bottom: 0px;
    left: 80px;

    color: white;
    font-size: 20px;
    font-weight: 400;

}

/*==============User Info==============*/
.userInfo{
    position: absolute;
    left: 300px;
    width: 900px;
}
/*==============User Proflie==============*/
.userProfile{
    position: relative;
    left: -20px;
    width: 900px;
}
.userProfile h1{
    font-size: 45px;
}
.userProfile table {
    position: relative;
    left: 20px;
    width: 800px;
}
.userProfile td, th {
    padding: 10px 20px;
    text-align: left;
    border: none;
}
.tdHighlight{
    font-weight: 700;
}

/*==============User History==============*/
.userHistory h2{
    position: relative;
    left: -20px;
}
.userHistory table {
    position: relative;
    left: 0px;
    width: 800px;
}
.userHistory td, th {
    padding: 10px 20px;
    text-align: left;
    border: 1px solid #47AA42;
}
.tableHeader{
    background: #47AA42;
    color: white;
}

/*==============Map + CSS==============*/
/*<style>
#map {
    height:820px;
    width:1440px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
</style>
*/
#map{
    width: 100%;
    height: 300px;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

/*button {
    margin: 2rem auto;
    color: #888;
    -o-transition: color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
    font-family: Georgia;
    font-variant-caps: all-small-caps;
    border: none;
}
button:hover {
    color: #000;
    -o-transition: color .15s ease-in-out;
    -ms-transition: color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
blockquote {
    margin-left:0;
    font-size:1.4rem;
    font-weight:bold;
    font-style: italic;
}
blockquote span {
    margin-left: -0.7rem;
}
ul, ol {
    padding-left: 0;
}
li + li {
    margin-top: 0.5rem;
}
h1, h2, h3, h4, h5, h6, blockquote, ul, ol, div {
    margin-top: 0.75rem;
}
h1 {
    font-size:2rem;
    font-weight:bold;
    line-height:2.5rem;
    letter-spacing: -0.025rem;
    color: cc5050;
}
h2 {
    font-size:1.75rem;
    line-height:2rem;
    font-weight:normal;
    color: cc5050;
}
h3 {
    font-size:1.4rem;
    font-weight:bold;
    color: cc5050;
}
h4 {
    font-size:1.4rem;
    font-weight:normal;
    color: cc5050;
}
h5 {
    font-size:1.2rem;
    font-weight:normal;
    color: cc5050;
}
h6 {
    font-size:1rem;
    font-weight:normal;
    color: cc5050;
}
*/